<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>DisplayData</display-name>
    <servlet-name>DisplayData</servlet-name>
    <servlet-class>controller.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayData</url-pattern>
  </servlet-mapping>
  <display-name>SuperSneaker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>controller.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetail</display-name>
    <servlet-name>ProductDetail</servlet-name>
    <servlet-class>controller.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetail</servlet-name>
    <url-pattern>/ProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>controller.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddItemToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagement</display-name>
    <servlet-name>ProductManagement</servlet-name>
    <servlet-class>controller.admin.ProductManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagement</servlet-name>
    <url-pattern>/ProductManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct</display-name>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>controller.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>controller.admin.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditingProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailEdit</display-name>
    <servlet-name>ProductDetailEdit</servlet-name>
    <servlet-class>controller.admin.ProductDetailEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailEdit</servlet-name>
    <url-pattern>/ProductDetailEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>controller.admin.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>controller.admin.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutController</display-name>
    <servlet-name>CheckOutController</servlet-name>
    <servlet-class>controller.CheckOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutController</servlet-name>
    <url-pattern>/CheckOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrder</display-name>
    <servlet-name>UserOrder</servlet-name>
    <servlet-class>controller.UserOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrder</servlet-name>
    <url-pattern>/UserOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrderDetails</display-name>
    <servlet-name>UserOrderDetails</servlet-name>
    <servlet-class>controller.UserOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderDetails</servlet-name>
    <url-pattern>/UserOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformation</display-name>
    <servlet-name>UserInformation</servlet-name>
    <servlet-class>controller.UserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformation</servlet-name>
    <url-pattern>/UserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMore</display-name>
    <servlet-name>LoadMore</servlet-name>
    <servlet-class>controller.LoadMore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMore</servlet-name>
    <url-pattern>/LoadMore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagement</display-name>
    <servlet-name>UserManagement</servlet-name>
    <servlet-class>controller.admin.UserManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/UserManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryMangement</display-name>
    <servlet-name>CategoryMangement</servlet-name>
    <servlet-class>controller.admin.CategoryMangement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryMangement</servlet-name>
    <url-pattern>/CategoryMangement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassWordAjax</display-name>
    <servlet-name>ChangePassWordAjax</servlet-name>
    <servlet-class>controller.ChangePassWordAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassWordAjax</servlet-name>
    <url-pattern>/ChangePassWordAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagement</display-name>
    <servlet-name>OrderManagement</servlet-name>
    <servlet-class>controller.admin.OrderManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagement</servlet-name>
    <url-pattern>/OrderManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxOrderStatus</display-name>
    <servlet-name>AjaxOrderStatus</servlet-name>
    <servlet-class>controller.admin.AjaxOrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxOrderStatus</servlet-name>
    <url-pattern>/AjaxOrderStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticManagement</display-name>
    <servlet-name>StatisticManagement</servlet-name>
    <servlet-class>controller.admin.StatisticManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticManagement</servlet-name>
    <url-pattern>/StatisticManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.admin.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LockAccount</display-name>
    <servlet-name>LockAccount</servlet-name>
    <servlet-class>controller.admin.LockAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockAccount</servlet-name>
    <url-pattern>/LockAccount</url-pattern>
  </servlet-mapping>
</web-app>